<% if user_signed_in? %>
<div>
  <%= link_to '新增書籍', new_admin_book_path, class: "action-btn"%>
  <%= link_to '查看折價券', admin_coupons_path, class: 'action-btn'%>
</div>
<% else %>
<% end %>
<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= link_to '加到購物車', add_cart_path(book), data: { turbo_method: :post }, class:'add-btn' %></td>
        <td><%= book.name %></td>
        <td><%= book.description %></td>
        <td><%= book.price %></td>
        <td>
        <% if user_signed_in? %>
          <%= link_to '更新', edit_admin_book_path(book) ,class:'action-btn'%>
          <%= link_to '刪除', admin_book_path(book),data: { turbo_method: 'delete', turbo_confirm: '確認刪除?' } ,class:'action-btn' %>
        <% else %>
        <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>