<h1 class="text-xl font-bold">註冊</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, '電子郵件' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
  </div>

  <div class="my-4 field">
    <%= f.label :password, '密碼' %>
    <% if @minimum_password_length %>
    <em>最少(<%= @minimum_password_length %>字元)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '確認密碼' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="my-5 actions">
    <%= f.submit "註冊", class:'action-btn' %>
  </div>
<% end %>

<div>
  已經有帳號了？ <%= link_to '前往登入', user_session_path, class:'action-btn' %>
</div>

