<%= form_with(model: @book, data: {turbo: false}) do |f|%>

<div class="m-5">
  <%= f.label :name, '書名' %>
  <%= f.text_field :name ,class: 'border border-black' ,required: true %>
</div>

<div class="m-5">
  <%= f.label :description, '摘要' %>
  <%= f.text_area :description ,class: 'border border-black' %>
</div>

<div class="m-5">
  <%= f.label :price, '價錢' %>
  <%= f.number_field :price ,class: 'border border-black',required: true %>
</div>

<div class="m-5">
  <%= f.submit class:'action-btn'%>
</div>

<% end %>