<h1 class="text-xl font-bold">購物⾞</h1>
<%= link_to '清空購物⾞', cart_path, data: { turbo_method:'delete', turbo_confirm: "確定清空？" }, class: "action-btn" %>


<table class="table">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>⼩計</td>
    </tr>
  </thead>

  <tbody>
    <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.book.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.book.price %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3" class="text-lg">小計</td>
      <td class="text-lg"><%= current_cart.total_price %></td>
    </tr>
  </tfoot>
</table>

<%= link_to '繼續選購', books_path, class: "action-btn" %>
<%= link_to '結帳', '#', class: "action-btn" %>