<h1 class="text-xl font-bold">登入</h1> 

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'input' %>
  </div>

  <div class="my-5 actions">
    <%= f.submit "登入" ,class: 'action-btn' %>
  </div>
  <div>
    還沒有帳號嗎? <%= link_to '註冊', new_user_registration_path, class:'action-btn' %>
  </div>
<% end %>
