<h1 class="text-xl font-bold">折價卷目前使用狀況</h1>

<%= link_to '新增折價卷', new_admin_coupon_path, class:"action-btn"%>
<%= link_to '回到書店管理', admin_books_path, class:'action-btn' %>

<table class="table">
  <tr>
    <td>折價名稱</td>
    <td>折扣方法</td>
  </tr>
  <% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.name %></td>
    <td><%= coupon.discount %></td>
    <td><%= link_to '刪除折價卷', admin_coupon_path(coupon.id), data: { turbo_method:'delete', turbo_confirm: "確定刪除？" }, class: 'action-btn' %></td>
  </tr>
  <% end %>
</table>