<h1 class="text-xl font-bold">新增折價卷</h1>

<%= form_with(model: [:admin, @coupon], data: {turbo: false}) do |coupon| %>
  <div class="my-2">
    <%= coupon.label :name, "折價名稱" %>
    <%= coupon.text_field :name, class: 'input' %>
  </div>  
  <div class="my-2">
    <%= coupon.label :discount, "折扣方法" %>
    <%= coupon.select :discount, Coupon.discounts.map { |k, _| [k.to_s, k.to_s] }, {}, class: 'input' %>
  </div>
  <%= coupon.submit "新增折價卷", class: 'action-btn' %>
<% end %>